<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Celular Amigo!</title>
  </head>
  <body>
  <a href="{% url 'produto:fcadproduto' %}" ><button type="button" class="btn-info"> Cadastrar Produto</button></a>

    <h1 class=" text-center">Relatorio de produtos</h1>

    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
        <th scope="col">imagem</th>
      <th scope="col">nome</th>
      <th scope="col">descrição</th>
      <th scope="col">preço</th>
      <th scope="col">quantidade</th>
        <th scope="col">operação</th>

    </tr>
  </thead>
  <tbody>
   {% for produto in produtos %}
    <tr>
      <td>{{produto.id}}</td>
      <td>
          {% if produto.imagem %}
              <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" style="width: 100px; height: auto;">
          {% endif %}
        </td>

      <td>{{produto.nome}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.preco}}</td>
       <td>{{produto.quantidade}}</td>

        <td>

      <a href="{% url 'produto:editar' produto.id %}"><button type="button" class="btn btn-info"> Editar</button></a>



      <a href="{% url 'produto:excluir' produto.id %}"><button type="button" class="btn btn-danger"> Excluir</button></a>

        </td>
    </tr>
  {% endfor%}
  </tbody>
</table>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>